# Build
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Compiled
*.o
*.d
*.dylib
*.so
*.dll
*.a
*.lib

# Claude
.claude/
CLAUDE.md

MEMORY.md
tools/nf_compiler/__pycache__/
__pycache__/
*.pyc
*.nfir
**/docs/**
build-rel/

**models/**
